* {
    margin: 0;
    padding: 0;
}

.main-contaner h1{
    background-color: darkorange;
    text-align: center;
    height: 140px;
    padding-top: 43px;
}
input {
    border: none;
    width: 55%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: white;
    margin-top: -90px;
    margin-left: 215px;
}

#addBtn {
    padding: 11.5px;
    width: 15%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: -90px;
    margin-left: 68.1%;
  }

  #addBtn:hover {
    background-color: #bbb;
  }


button:hover {
    background-color: yellow;
  }
button{
   
    background-color: #bbb;
    color: red;
    margin-top: 6px;
    margin-left: 5px;
    padding: 2px;
    
}

/* form {
	width: 50%; 
	margin: 30px auto; 
	border-radius: 5px; 
	padding: 10px;
	background: #FFF8DC;
	border: 1px solid #6B8E23;
} */


  
@media only screen and (max-width: 840px){
    input {
        margin-left: 90px;
    }
}
  


@media only screen and (max-width: 394px){
    input {
        
        margin-left: 30px;
    }
}
 
 